---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }
    .masthead, .masthead *{
    background-color: #808080; /* Replace with your skin color */
    color: #ffffff !important; /* Adjust to contrast with your header color */
    border: 0;
    }
    .masthead__inner-wrap{
    padding: 0.5em 1em;
    }
    .navicon::before, .navicon::after, .navicon{
    background-color: #ffffff;
    }
    .page__footer{
    background-color: #cccccc;
    }
    </style>
  </head>
  

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
